<h1>Pages#home</h1>
<h2>Welcome to Le Wagon</h2>
<p>Find me in app/views/pages/home.html.erb</p>
<p>The Next Step is a national boutique HR consultancy firm, and with over 20 years
experience, our HR Consulting team are trusted partners in assisting businesses to
attract and develop HR talent to meet the demands of today's organisations.</p>
